<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chords Sharing Platform</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1>Welcome to the Chords Sharing Platform</h1>
    <p>
      This is a place where you can share and find chords for your favorite
      songs.
    </p>
    <%- include('footer') %>
  </body>
</html>
