<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>jamManager</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1>jamManager</h1>
    <p>chords sharing platform</p>
    <%- include('footer') %>
  </body>
</html>
