<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>jamManager - Register</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h2>Register</h2>
    <% if (error) { %>
    <p><%= error %></p>
    <% } %>
    <form action="/register" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" required />
      <label for="password">Password:</label>
      <input type="password" name="password" required />
      <button type="submit">Register</button>
    </form>
    <%- include('footer') %>
  </body>
</html>
